<div class="container">
  <div class="row">
    <% @todos.each_slice(3) do |row| %>
      <% row.each do |todo| %>
        <div class="col todo" id="<%=todo.id%>">
          <%= image_tag todo.photo , class: 'img-fluid' %>
          <h4><%= todo.title %></h4>
          <span class="updated"></span><br>
          <%= showTodoBoton todo if user_signed_in? %>
        </div>
    <% end %>
    <div class="w-100"></div>
  <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    let links = $('a[data-time]')
    for(var i = 0; i < links.length; i++){
      let id = $(links[i]).parents('.todo')[0].id
      let update = ''
      if ($(links[i]).data('time')) {
        update = "Last updated " + $(links[i]).data('time')
      }
      $('#' + id + ' .updated').text(update)
    }
  })
</script>
